<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sj.simpleboard.repository.MysqlBoardRepository">
    <insert id="save" parameterType="sj.simpleboard.domain.Board">
    /* insertProduct */
        INSERT INTO
            mybatistest.simple_board (
               title,
               contents,
               condate,
               conid,
               conpwd
               )
        VALUES(
               #{title},
               #{contents},
               #{conDate},
               #{conId},
               #{conPwd}
               )
    </insert>
    <select id="findByNo" resultType="sj.simpleboard.domain.Board">
        SELECT *
        FROM mybatistest.simple_board
        WHERE seq = #{no};
    </select>
    <select id="findAll" resultType="sj.simpleboard.domain.Board">
        SELECT *
        FROM mybatistest.simple_board;
    </select>
    <update id="update">
        UPDATE mybatistest.simple_board
        SET
            title = #{arg1.title},
            contents = #{arg1.contents},
            condate = #{arg1.conDate}
        WHERE
            seq = #{arg0};
    </update>
    <delete id="delete">
        DELETE FROM mybatistest.simple_board WHERE seq = #{no};
    </delete>
    <select id="findNum" resultType="sj.simpleboard.domain.Board">
        SELECT MAX(seq) AS seq FROM mybatistest.simple_board;
    </select>
</mapper>
