<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='boardAdd.html'"
                    th:onclick="|location.href='@{/view/add}'|">글 등록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 10%">No</th>
                <th>제목</th>
                <th style="width: 20%">아이디</th>
                <th style="width: 30%">날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.no}">1</td>
                <td><a href="boardContents.html" th:href="@{|board/${board.no}|}" th:text="${board.title}">글제목</a></td>
                <td>아이디</td>
                <td th:text="${board.date}">날짜</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>